</Connectivity>
 ConnectionType {{ connectiontype }}
</Connectivity>

<Account Information>
 Username {{ username }}
 Password {{ userpassword }}
</Account Information>

<System Information>
 DistributionType {{ ansible_os_family }}
</System Information>

<System Information>
 hostname {{ inventory_hostname }}
</System Information>

